.grid {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-areas:
    "header header header"
    "nav main main"
    "footer footer footer";
  grid-template-columns: 1fr 7fr;
  grid-template-rows: 0.5fr 3fr 1fr;
  grid-gap: 10px;
}
